<nav id="sidebar" class="sidebar js-sidebar" th:fragment="admin-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/admin">
					<span class="sidebar-brand-text align-middle">
						Gaming Online Shop
						<sup><small class="badge bg-primary text-uppercase">DASHBOARD</small></sup>
					</span>
            <svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
                 stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
                <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
                <path d="M20 12L12 16L4 12"></path>
                <path d="M20 16L12 20L4 16"></path>
            </svg>
        </a>
        <div class="sidebar-user">
            <div class="d-flex justify-content-center">
                <div class="flex-shrink-0">
                    <img src="/admin/img/avatars/man-round-icon.webp" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
                </div>
                <div class="flex-grow-1 ps-2">
                    <span class="sidebar-user-title">
                        Username
                    </span>
                    <div class="sidebar-user-subtitle">Administrator</div>
                </div>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Facility
            </li>
            <li class="sidebar-item active">
                <a href="/admin" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboards</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link" th:href="@{/admin/users}">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" th:href="@{/admin/products}">
                    <i class="align-middle" data-feather="package"></i> <span class="align-middle">Products</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" th:href="@{/admin/category-manager}">
                    <i class="align-middle" data-feather="list"></i> <span class="align-middle">Categories</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-invoice.html">
                    <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Orders</span>
                </a>
            </li>
    </div>
</nav>