<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PC World - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/user/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/user/img/favicon.ico">

    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/templatemo.css">
    <link rel="stylesheet" href="/user/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/user/css/fontawesome.min.css">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    <div th:replace="~{component/user-navbar :: user-navbar}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{component/user-header :: user-header}"></div>
    <!-- Close Header -->

    <!-- Modal -->
    <div th:replace="~{component/user-searchbar :: user-searchbar}"></div>


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Filters</h1>

                <!-- Category Filter -->
                <div class="filter-section mb-4">
                    <h5 class="mb-3">Categories</h5>
                    <div class="form-check mb-2">
                        <input class="form-check-input category-filter" type="checkbox" value="all" id="categoryAll" checked>
                        <label class="form-check-label" for="categoryAll">
                            All Categories
                        </label>
                    </div>
                    <div th:each="category : ${categories}" class="form-check mb-2">
                        <input class="form-check-input category-filter" type="checkbox"
                               th:value="${category.id}"
                               th:id="'category' + ${category.id}">
                        <label class="form-check-label"
                               th:for="'category' + ${category.id}"
                               th:text="${category.name}">
                            Category Name
                        </label>
                    </div>
                </div>

                <!-- Price Range Filter -->
                <div class="filter-section mb-4">
                    <h5 class="mb-3">Price Range</h5>
                    <div class="form-check mb-2">
                        <input class="form-check-input price-filter" type="checkbox" value="0-500" id="price1">
                        <label class="form-check-label" for="price1">Under $500</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input price-filter" type="checkbox" value="500-1000" id="price2">
                        <label class="form-check-label" for="price2">$500 - $1000</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input price-filter" type="checkbox" value="1000-2000" id="price3">
                        <label class="form-check-label" for="price3">$1000 - $2000</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input price-filter" type="checkbox" value="2000-999999" id="price4">
                        <label class="form-check-label" for="price4">Above $2000</label>
                    </div>
                </div>

                <!-- Stock Filter -->
                <div class="filter-section mb-4">
                    <h5 class="mb-3">Availability</h5>
                    <div class="form-check mb-2">
                        <input class="form-check-input stock-filter" type="checkbox" value="in-stock" id="inStock" checked>
                        <label class="form-check-label" for="inStock">In Stock</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input stock-filter" type="checkbox" value="out-of-stock" id="outOfStock">
                        <label class="form-check-label" for="outOfStock">Out of Stock</label>
                    </div>
                </div>

                <!-- Clear Filters Button -->
                <button type="button" class="btn btn-outline-secondary btn-sm" id="clearFilters">
                    <i class="fa fa-refresh"></i> Clear All Filters
                </button>

                <ul class="list-unstyled templatemo-accordion mt-4">
                    <li class="pb-3">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Price Range
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Under $500</a></li>
                            <li><a class="text-decoration-none" href="#">$500 - $1000</a></li>
                            <li><a class="text-decoration-none" href="#">$1000 - $2000</a></li>
                            <li><a class="text-decoration-none" href="#">Above $2000</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Brands
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">ASUS</a></li>
                            <li><a class="text-decoration-none" href="#">MSI</a></li>
                            <li><a class="text-decoration-none" href="#">Intel</a></li>
                            <li><a class="text-decoration-none" href="#">AMD</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" th:href="@{/shop}">All Products</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Gaming PCs</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">Laptops</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>Price: Low to High</option>
                                <option>Price: High to Low</option>
                                <option>Name: A to Z</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Product Loop -->
                    <div class="col-md-4 product-item"
                         th:each="product : ${products}"
                         th:if="${product.status == true}"
                         th:data-category="${product.category.id}"
                         th:data-price="${product.price}"
                         th:data-stock="${product.quantity > 0 ? 'in-stock' : 'out-of-stock'}">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid"
                                     th:src="@{'/productImg/' + ${product.image}}"
                                     th:alt="${product.name}"
                                     onerror="this.src='/user/img/shop_01.jpg'">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" th:href="@{'/shop-single/' + ${product.id}}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="#"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a th:href="@{'/shop-single/' + ${product.id}}" class="h3 text-decoration-none" th:text="${product.name}">Product Name</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li th:text="${product.category.name}">Category</li>
                                    <li class="pt-2">
                                        <span class="badge bg-info text-dark">In Stock: <span th:text="${product.quantity}">0</span></span>
                                    </li>
                                </ul>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0 mt-2">
                                    <li><span class="badge bg-success">Sold: <span th:text="${product.sold}">0</span></span></li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0" th:text="'$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">$0.00</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="/user/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="/user/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="/user/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="/user/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="./user/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <div th:replace="~{component/user-footer :: user-footer}"></div>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/user/js/jquery-1.11.0.min.js"></script>
    <script src="/user/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/user/js/bootstrap.bundle.min.js"></script>
    <script src="/user/js/templatemo.js"></script>
    <script src="/user/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>